@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: rgb(30, 8, 45);
    --cor-secundaria: rgb(255, 238, 238);
    --cor-terciaria: rgb(136, 0, 227);

    --fonte-family: 'Poppins', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
}

#logo img {
    width: 5rem;
}

.cabecalho-menu ul {
    list-style: none;
    display: flex;
}

.cabecalho-menu a{
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.cabecalho-menu li {
    margin: 0 1rem;
}

.cabecalho-menu a:hover {
    color: var(--cor-secundaria);
}


.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 5% 10%;
}

.apresentacao-conteudo {
       display: flex;
       width: 50%;
       flex-direction: column;
       gap: 3rem;
}

.apresentacao-conteudo-titulo {
    font-size: 2rem;
    font-family: var(--fonte-family);
}

.destaque {
    color: var(--cor-terciaria);
}

.apresentacao-conteudo-texto {
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao-links-titulo {
    font-family: var(--fonte-family);
    font-size: 1.2rem;
}

.apresentacao-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao-links-link {
    display: flex;
    gap: 14px;

    border: 2px solid var(--cor-terciaria);
    border-radius: 10px;  
    text-decoration: none;
    padding: 15px 20px;
    width: 50%;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}

.apresentacao-imagem {
    width: 50%;
    transition: 1s ease-in-out;
}

.apresentacao-imagem img {
    width: 100%;
    transition: 1s ease-in-out;
    transition-timing-function: ease-in-out;
}

.apresentacao-imagem:hover
{
    transition: 1s ease-in-out;
    box-shadow: 2px 2px 50px var(--cor-terciaria);
}

.fa-brands {
    color: var(--cor-terciaria);
    padding-top: 2px;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    padding: 1.5rem;

    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .apresentacao {
        flex-direction: column-reverse;
    }
    .apresentacao-conteudo {
        width: auto;
    }
}

